<section class="about-us-page">
  <div class="hero-page">
    <div class="hero-content-wrapper text-center d-flex flex-wrap m-autor">
      <h2 class="page-title w-100">
        Get to know Us More
      </h2>
      <p class="subtitle w-100">
        We put you first and deliver to the utmost tech standards with professionalism and integrity at our core.
      </p>
    </div>
  </div>
  <div class="d-flex flex-wrap col-sm-12 page-content-section-wrapper">
    <div class="page-content-section about-us-content">
      <h3>
        About us
      </h3>
      <p>
        We are a neo-tech company with a focus on scientific innovations and tech solutions aimed at making life processes and user experiences easier as well as promoting human development and advancement.
      </p>
    </div>
    <div class="page-content-section mission-vision d-flex flex-wrap">
      <div class="mission-card statement-card">
        <h3>
          Our Mission
        </h3>
        <p>
          Making life processes and user experiences easier and faster, as well as promoting human development and advancement through carefully curated scientific innovations, solutions and neo-technology.
        </p>
      </div>
      <div class="vision-card statement-card">
        <h3>
          Our Vision
        </h3>
        <p>
          To be the foremost tech institution in the world providing value and advancement through our innovations and solutions.
        </p>
      </div>
    </div>
    <div class="page-content-section our-approach-content">
      <h3>
        Our Approach
      </h3>
      <p>
        We make use of the latest cutting edge web technology veering across various tools and programming languages to develop impeccable web applications, breathing life and purpose into your projects and products.
      </p>
    </div>
  </div>
  <div class="page-content-section get-to-know-us-content w-100">
    <h3 class="col-sm-12 px-0">
      Why should you choose <span style="color: #fff;">TIS?</span>
    </h3>
    <div class="slider-container col-sm-12 p-0">
      <div class="slider">
        <div class="slide-item fadeSlide" *ngFor="let slide of sliderContents; index as i"
          [style.display]="i == slideIndex ? 'flex' : 'none'" [class.active]="i == slideIndex">
          <img [src]="slide?.src" alt="Images taht represents {{slide.title}} at TIS">
        </div>
      </div>
    </div>
    <div class="slider-contents fadeText">
      <p class="slider-title">
        <span class="w-100 text-center my-auto">
          {{selectedSliderContent?.title}}
        </span>
      </p>
      <p class="slider-content">
        <span class="my-auto">
          {{selectedSliderContent?.content}}
        </span>
      </p>
      <div class="slider-nav">
        <ul>
          <li class="slideNo" [class.active]="i == slideIndex" *ngFor="let slide of sliderContents; index as i">
            <span>{{i + 1}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
