<nav>
  <div class="top-nav-section">
    <a id="logo" role="link" [routerLink]='[""]'>
      <span class="icon">
        <svg width="90" height="49" viewBox="0 0 90 49" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="0.743652" width="52.8099" height="16.1984" fill="#2B3990"/>
          <rect x="0.743652" y="16.198" width="70.6611" height="16.1984" fill="#EC008C"/>
          <rect x="0.743652" y="32.3969" width="88.5124" height="16.1984" fill="#F7941D"/>
        </svg>
        <span class="logo-text text-center">
          <span class="top">TECH INNOVATIONS</span>
          <span class="bottom">SOLUTIONS</span>
        </span>
      </span>
    </a>
    <div class="other-fn">
      <a class="start-projects" role="link" [routerLink] ='["/contacts"]'>
        Lets start a project together
      </a>
      <button class="toggle-btn" (click)="onClick()" [class.open] = "showNav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
  <div class="collapsible" [ngClass]="{
    'd-flex': showNav,
    'close': !showNav,
    'slideIn': showNav
  }">
    <ul class="nav-list col-lg-6 order-lg-2 fadeSlide" >
      <li class="nav-item">
        <a (click)="onClick()" [routerLink]='["/about"]' routerLinkActive = "active">
          About Us
        </a>
      </li>
      <li class="nav-item" >
        <a (click)="onClick()" [routerLink]='["/portfolio"]' routerLinkActive = "active">
          Portfolio
        </a>
      </li>
      <li class="nav-item">
        <a (click)="onClick()" [routerLink]='["/services"]' routerLinkActive = "active">
          Services
        </a>
      </li>
      <li class="nav-item">
        <a (click)="onClick()" [routerLink]='["/contacts"]'>
          Contact Us
        </a>
      </li>
    </ul>
    <div class="collapsible-details col-lg-6 order-lg-1 fadeSlide">
      <div class="content-wrapper">
        <p>Like to talk?</p>
        <p>Get in touch</p>
        <p>
          We are always available to answer your
          questions.
        </p>
        <a role="button" (click)="onClick()" [routerLink]='["/contacts"]' class="btn-contact">
          Contact us
        </a>
      </div>
    </div>
  </div>
</nav>
