<section class="work-page">
  <div class="hero-page">
    <div class="col-sm-12 text-center">
      <p>Have you got an idea Have you got an idea</p>
      <p>Have you got an idea Have you got an idea</p>
      <p>Have you got an idea Have you got an idea</p>
    </div>
  </div>
  <div class="list-of-works">
    <div class="work">
      <div class="work-header">
        <img src="" alt="" class="work-company-logo">
        <div class="work-title">
          <p class="work-company-name"></p>
          <p class="work-type"></p>
        </div>
      </div>
      <div class="work-desc">

      </div>
      <div class="work-showcase">
        <div class="work-showcase-img-container">
          <img src="" alt="" class="work-showcase-img">
        </div>
        <button class="view-work">
          View More
        </button>
      </div>
    </div>
  </div>
</section>
