<section class="our-services-page">
  <div class="hero-page">
    <div class="hero-content d-flex flex-wrap">
      <div class="hero-content-wrapper">
        <h2 class="page-title">Building For Business Goals</h2>
        <p class="subtitle">
          We put you first and deliver to the utmost tech standards with professionalism and integrity at our core.
        </p>
      </div>
    </div>
    <div class="hero-bg"></div>
  </div>
  <div class="our-services">
    <div class="our-service" *ngFor="let item of services">
      <div class="our-service-header">
        <span class="icon" [innerHTML]="makeSvg(item.icon)"></span>
      </div>
      <div class="our-service-body">
        <p class="our-service-title">
          {{item.title}}
        </p>
        <p class="our-service-content text-lightDark">
          {{item.content}}
        </p>
      </div>
    </div>
  </div>
</section>
