/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Gordita';
  src: url('/assets/fonts/Gordita-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Gordita';
  src: url('/assets/fonts/Gordita-Bold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gordita';
  src: url('/assets/fonts/Gordita-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/proximanova-regular-webfont.woff2') format('woff2'),
       url('/assets/fonts/proximanova-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
  width: 100%;
  height: 100vh;
}

body {
  background: #FFF;
  font-weight: normal;
  font-size: 16px;
  font-family: 'Gordita', Arial, Helvetica, sans-serif !important;
}
